<h1>勉強記録作成ページ</h1>
<div class="row">
  <div class="col-6">
    <%= form_with(model: @learn) do |f| %>
      <% if @learn.errors.any? %>
        <div id="error_explanation">
          <ul class="mb-0">
            <% @learn.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mb-3">
        <%= f.label :date, 'タイトル' %>
        <%= f.text_field :date, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :content, '勉強記録' %>
        <%= f.text_field :content, class: 'form-control' %>
      </div>
      
      <div class="mb-3">
        <%= f.label :note, 'メモ' %>
        <%= f.text_field :note, class: 'form-control' %>
      </div>
      

      <%= f.submit '作成', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>